{% extends 'base.html' %} 

{% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="card-text slope-icon"><i class="fas fa-snowboarding"></i> Difficulty: {{ post.get_slope_difficulty_display }}</p>
<p class="card-text slope-icon"><i class="fas fa-snowflake"></i> Snow Condition: {{ post.get_snow_condition_display }}</p>
<p class="card-text slope-icon"><i class="fas fa-mountain"></i> Elevation: {{ post.elevation }}m</p>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
                <div class="row">

                    <div class="col-2">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <!-- The number of likes goes before the closing strong tag -->
                            <span class="text-secondary">{{ post.number_of_likes }}</span>
                        </strong>
                    </div>
                    <div class="col-2">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="card-container col-lg-8 mb-4 mt-3">
                <h3>Comments:</h3>
                <div>
                {% if comments %}
                    {% for comment in comments %}
                        <div class="comments">
                            <div class="comment">
                                {{ comment.body | linebreaksbr }}
                            </div>
                            <div>
                                <p class="post-icon mt-1 text-muted">{{ comment.name }} on 
                                    <span>{{ comment.created_on }}</span>
                                </p>
                            </div>
                            {% if user.is_authenticated %}
                            <!-- Start like comment -->
                                        <div class="col-2">
                                            <strong>
                                                {% if user.is_authenticated %}
                                                <form class="d-inline" action="{% url 'comment_like' comment.id %}" method="POST">
                                                        {% csrf_token %}
                                                        {% if comment.likes.exists %}
                                                        <button type="submit" class="btn-like"><i class="fas fa-heart"></i></button>
                                                        {% else %}
                                                        <button type="submit" class="btn-like"><i class="far fa-heart"></i></button>
                                                        {% endif %}
                                                    </form>
                                                    {% else %}
                                                    <span class="text-secondary"><i class="far fa-heart"></i></span>
                                                    {% endif %}
                                                    <span class="text-secondary likes-count">{{ comment.likes.count }}</span>
                                                {% endif %}
                                            </strong>
                                        </div>
                            <!-- End like comment -->
                        </div>
                            <div>
                            {% if comment.name == request.user.username %}
                                <div class="col-sm mt-1">
                                    <a class="btn btn-sm btn-edit"
                                        href="{% url 'edit_comment' post.slug comment.pk %}">Edit</a>
                                    <a class="btn btn-sm btn-delete"
                                        href="{% url 'delete_comment' post.slug comment.pk %}">Delete</a>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    <hr>
                    {% endfor %}
                {% else %}
                    <p>No comments yet, be the first to share your experience!</p>

                    {% if not user.is_authenticated %}
                        <p>
                            To post a comment, <a class="link" href="{% url 'account_login' %}">log in</a> to our site!<br> 
                            If you do not have an account, please <a class="link" href="{% url 'account_signup' %}">register</a> here.
                        </p>
                    {% endif %}

                {% endif %}
                </div>
            </div>
            <div class="card-container col-lg-4 mb-4 mt-3 ">
            {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p class="comment">Posting as: {{ user.username }}</p>
                <form method="post">
                    {% csrf_token %}
                    {{ comment_form | crispy }}
                    <button type="submit" class="btn btn-signup btn-md mt-2">Submit</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}